<!DOCTYPE html>
<html>
  <head>
    <title>MBTA Schedule</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'https://cdn.mbtace.com/images/mbta-logo-t-favicon-86d6bc07973596dbd09bc4e81f3577f6.png?vsn=d' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
